.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

body {
  font-family: Helvetica;
  text-align: center;
  padding: 70px 0;
}

h2 {
  font-size: : 200;
}
